# This specifies which files to ignore for version control history.
# This is not for configuration. You do not need to make any changes here.

# Ignore key/certificate files
*.pem

# Ignore everything in the site content directories.
# Those directories (the actual directories, not the list here in this file) are where you should put your files.
content/*
plugins/*

# Ignore site-specific operational data
administration/user_credentials.txt
administration/account_creation_requests.txt
administration/config.json
administration/dailies.log

# Exempt the example files from the wild-card ignore.
!content/web-host-about.html
!plugins/web-host-example.js

# Exempt feature code that is separated out from core source code to improve readability
!content/index-gallery*