# Ignore everything in this directory.
# Add your content in the same folder as this file.
# The wildcard star here will prevent your content affecting version control.
*

# Do not ignore .gitignore or example static content
!.gitignore
!web-core-about.html

