# Add your content to the folder this file is in.

# The wildcard star tells git to ignore everything in this folder.
# This prevents your content from affecting version control.
*

# Do not ignore .gitignore or example static content
!.gitignore
!web-core-about.html

